<div class="modal fade" tabindex="-1" role="dialog" id="cardDetail" cardId="">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" >
				<h3 id="modalBaslik" style="width: 100%; cursor: pointer;"></h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p style="cursor:pointer" id="card-description-area"></p>
			</div>
			<div class="modal-footer" id="card-modal-footer" style="display:inline-block">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: right">Close</button>
			</div>
		</div>
	</div>
</div>

