<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Kanban Projesi</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/jquery-ui.min.css" />
	@RenderSection("Css", required: false)
</head>
<body>
	<header>
		@await Html.PartialAsync("_navbar")
	</header>

	@RenderBody()

	@await Html.PartialAsync("_CardModal")
	@await Html.PartialAsync("_PersonModal")
	@await Html.PartialAsync("_BoardDeleteModal")

	@if (!User.Identity.IsAuthenticated)
	{
		<footer class="border-top footer text-muted">
			<div class="container">
				&copy; 2020 - Kanban Projesi - Bir Yaz Stajı Projesidir- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</footer>
	}
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>


</html>


